In [1]:
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',sep=",",header=None)
df.columns=['age','workclass','fnlwgt','education','educationNum','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']

In [2]:
engine = create_engine('sqlite:///sample',echo=True)
df.to_sql('adult', engine)
conn = engine.connect()

2018-12-10 18:00:44,341 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-10 18:00:44,391 INFO sqlalchemy.engine.base.Engine ()
2018-12-10 18:00:44,401 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-10 18:00:44,408 INFO sqlalchemy.engine.base.Engine ()
2018-12-10 18:00:44,421 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")
2018-12-10 18:00:44,428 INFO sqlalchemy.engine.base.Engine ()
2018-12-10 18:00:44,453 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"educationNum" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	income TEXT
)


2018-12-10 18:00:44,458 INFO sqlalchemy.engine.base.Engine ()
2018-12-10 18:00:44,557 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-10 18:00:44,566 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_adult_index ON adult ("index")
2018-12-10 18:00:44,573 INFO sqlalchemy.engine.base.Engine ()
2018-12-10 18:00:44,701 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-10 18:00:44,816 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-10 18:00:48,123 INFO sqlalchemy.engine.base.Engine INSERT INTO adult ("index", age, workclass, fnlwgt, education, "educationNum", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-12-10 18:00:48,128 INFO sqlalchemy.engine.base.Engine ((0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'), (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K')  ... displaying 10 of 32561 total bound parameter sets ...  (32559, 22, ' Private', 201490, ' HS-grad', 9, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'), (32560, 52, ' Self-emp-inc', 287927, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 15024, 0, 40, ' United-States', ' >50K'))
2018-12-10 18:00:49,028 INFO sqlalchemy.engine.base.Engine COMMIT

Write two basic update queries

In [3]:
#update query 1
print(engine.execute('''UPDATE adult SET income = '<30K' WHERE age=38 and education=' Bachelors' '''))

2018-12-10 18:01:11,317 INFO sqlalchemy.engine.base.Engine UPDATE adult SET income = '<30K' WHERE age=38 and education=' Bachelors'
2018-12-10 18:01:11,323 INFO sqlalchemy.engine.base.Engine ()
2018-12-10 18:01:11,468 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x000001F460CCAE48>

In [5]:
#Result of update query 1
print(engine.execute('''SELECT * FROM adult WHERE age=38 and education=' Bachelors' and educationNum=13 LIMIT 5''').fetchall())

2018-12-10 18:01:32,985 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult WHERE age=38 and education=' Bachelors' and educationNum=13 LIMIT 5
2018-12-10 18:01:32,992 INFO sqlalchemy.engine.base.Engine ()
[(217, 38, ' Private', 182609, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' Poland', '<30K'), (489, 38, ' Private', 91039, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 15024, 0, 60, ' United-States', '<30K'), (520, 38, ' Self-emp-inc', 99146, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 15024, 0, 80, ' United-States', '<30K'), (883, 38, ' Private', 95336, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', '<30K'), (1207, 38, ' Private', 79619, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 42, ' United-States', '<30K')]

In [7]:
#update query2
print(engine.execute('''UPDATE adult SET income = '<50K'
WHERE age=39 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9'''))

2018-12-10 18:02:01,815 INFO sqlalchemy.engine.base.Engine UPDATE adult SET income = '<50K'
WHERE age=39 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9

INFO:sqlalchemy.engine.base.Engine:UPDATE adult SET income = '<50K'
WHERE age=39 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9

2018-12-10 18:02:01,831 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-12-10 18:02:01,913 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

<sqlalchemy.engine.result.ResultProxy object at 0x000001F4613CDA90>

In [8]:
print(engine.execute('''SELECT * FROM adult WHERE age=39 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9 LIMIT 5''').fetchall())

2018-12-10 18:02:19,328 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult WHERE age=39 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9 LIMIT 5

INFO:sqlalchemy.engine.base.Engine:SELECT * FROM adult WHERE age=39 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9 LIMIT 5

2018-12-10 18:02:19,342 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[]

Write two basic delete queries

In [10]:
print(engine.execute('''DELETE FROM adult WHERE age=39 and education=' Bachelors' '''))

print(engine.execute('''SELECT * FROM adult WHERE age=39 and education=' Bachelors' LIMIT 5''').fetchall())

2018-12-10 18:03:33,605 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE age=39 and education=' Bachelors'

INFO:sqlalchemy.engine.base.Engine:DELETE FROM adult WHERE age=39 and education=' Bachelors'

2018-12-10 18:03:33,617 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-12-10 18:03:33,781 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

<sqlalchemy.engine.result.ResultProxy object at 0x000001F4613CDCC0>
2018-12-10 18:03:34,238 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult WHERE age=39 and education=' Bachelors' LIMIT 5

INFO:sqlalchemy.engine.base.Engine:SELECT * FROM adult WHERE age=39 and education=' Bachelors' LIMIT 5

2018-12-10 18:03:34,247 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[]

In [11]:
print(engine.execute('''DELETE FROM adult WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9'''))

print(engine.execute('''SELECT * FROM adult WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9 LIMIT 5''').fetchall())

2018-12-10 18:04:09,927 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9

INFO:sqlalchemy.engine.base.Engine:DELETE FROM adult WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9

2018-12-10 18:04:09,939 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-12-10 18:04:10,032 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

<sqlalchemy.engine.result.ResultProxy object at 0x000001F4617F1FD0>
2018-12-10 18:04:10,182 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9 LIMIT 5

INFO:sqlalchemy.engine.base.Engine:SELECT * FROM adult WHERE age=38 and workclass=' Private' and fnlwgt=215646
and education=' HS-grad' and educationNum=9 LIMIT 5

2018-12-10 18:04:10,194 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[]

Write two filter queries

In [12]:
#Filter queries using LIKE
print(engine.execute('''SELECT * FROM adult WHERE race LIKE ' B%' LIMIT 10''').fetchall())

#Filter queries using IN
print(engine.execute('''SELECT * FROM adult WHERE age  IN(20, 40) LIMIT 5''').fetchall())

2018-12-10 18:04:37,496 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult WHERE race LIKE ' B%' LIMIT 10

INFO:sqlalchemy.engine.base.Engine:SELECT * FROM adult WHERE race LIKE ' B%' LIMIT 10

2018-12-10 18:04:37,510 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (10, 37, ' Private', 280464, ' Some-college', 10, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' Black', ' Male', 0, 0, 80, ' United-States', ' >50K'), (13, 32, ' Private', 205019, ' Assoc-acdm', 12, ' Never-married', ' Sales', ' Not-in-family', ' Black', ' Male', 0, 0, 50, ' United-States', ' <=50K'), (21, 54, ' Private', 302146, ' HS-grad', 9, ' Separated', ' Other-service', ' Unmarried', ' Black', ' Female', 0, 0, 20, ' United-States', ' <=50K'), (22, 35, ' Federal-gov', 76845, ' 9th', 5, ' Married-civ-spouse', ' Farming-fishing', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (31, 20, ' Private', 266015, ' Some-college', 10, ' Never-married', ' Sales', ' Own-child', ' Black', ' Male', 0, 0, 44, ' United-States', ' <=50K'), (34, 22, ' State-gov', 311512, ' Some-college', 10, ' Married-civ-spouse', ' Other-service', ' Husband', ' Black', ' Male', 0, 0, 15, ' United-States', ' <=50K'), (45, 57, ' Federal-gov', 337895, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' >50K')]
2018-12-10 18:04:37,533 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult WHERE age  IN(20, 40) LIMIT 5

INFO:sqlalchemy.engine.base.Engine:SELECT * FROM adult WHERE age  IN(20, 40) LIMIT 5

2018-12-10 18:04:37,544 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(14, 40, ' Private', 121772, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' ?', ' >50K'), (20, 40, ' Private', 193524, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 60, ' United-States', ' >50K'), (31, 20, ' Private', 266015, ' Some-college', 10, ' Never-married', ' Sales', ' Own-child', ' Black', ' Male', 0, 0, 44, ' United-States', ' <=50K'), (76, 40, ' Private', 32214, ' Assoc-acdm', 12, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (103, 20, ' Private', 188300, ' Some-college', 10, ' Never-married', ' Tech-support', ' Own-child', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K')]

Write two function queries

In [14]:
#using SUM function
print(engine.execute('''SELECT SUM(education) FROM adult WHERE sex=="Male" LIMIT 5''').fetchall())

#using Upper function
print(engine.execute('''SELECT education,upper(education) FROM adult WHERE sex LIKE '%male%' LIMIT 10''').fetchall())

2018-12-10 18:06:20,569 INFO sqlalchemy.engine.base.Engine SELECT SUM(education) FROM adult WHERE sex=="Male" LIMIT 5

INFO:sqlalchemy.engine.base.Engine:SELECT SUM(education) FROM adult WHERE sex=="Male" LIMIT 5

2018-12-10 18:06:20,582 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(None,)]
2018-12-10 18:06:20,660 INFO sqlalchemy.engine.base.Engine SELECT education,upper(education) FROM adult WHERE sex LIKE '%male%' LIMIT 10

INFO:sqlalchemy.engine.base.Engine:SELECT education,upper(education) FROM adult WHERE sex LIKE '%male%' LIMIT 10

2018-12-10 18:06:20,672 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(' Bachelors', ' BACHELORS'), (' 11th', ' 11TH'), (' Bachelors', ' BACHELORS'), (' Masters', ' MASTERS'), (' 9th', ' 9TH'), (' HS-grad', ' HS-GRAD'), (' Masters', ' MASTERS'), (' Bachelors', ' BACHELORS'), (' Some-college', ' SOME-COLLEGE'), (' Bachelors', ' BACHELORS')]